<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
  <appSettings>
    <add key="gradient" value="4A0000,750000,9F0000,C60000,FF0000,FE6D16,FFFF00,1E90FF,000091,000050,000030,000020,000000" />
    <add key="spectrumAnalyzerGradient" value="FFFFFF,ADD8E6,1E90FF,000050,000000" />
    <add key="spectrumAnalyzerColor" value="FFFFFF" />
    <add key="fillSpectrumAnalyzer" value="yes" />
  </appSettings>
</configuration>
